process.executor = 'slurm'
process.time = '8:00:00'
process.cpus = 4
process.memory = 8.GB
process.errorStrategy = 'finish'
manifest.defaultBranch = 'main'

// Module parameter definitions

params {
		/***** STAR PARAMS *****/
		star_idx = '/proj/seq/data/STAR_genomes_v277/GRCh38_p13_GENCODE_primary'
		star_quantMode = ''

		/***** SALMON PARAMS *****/
		salmon_idx = '/proj/seq/data/salmon_RNAseq_genomes/hg38_decoy/salmon_sa_index/default'
		salmon_opts = '--gcBias --seqBias --posBias'

		/***** PICARD PARAMS *****/
		genome = '/proj/seq/data/STAR_genomes_v277/GRCh38_p13_GENCODE_primary/GRCh38.primary_assembly.genome.fa'
		ref_flat = '/proj/seq/data/hg38_UCSC/Annotation/Genes.gencode/refFlat.txt.gz'
		ribo_intervals = '/proj/jraablab/users/pkuhlers/seq_resources/GRCh38_rRNA.interval_list'
}

// Process labels

process { 
	   withLabel: trim { 
	      cpus = 2
	      memory = 8.GB
	      time = '24:00:00'
	      } 

	   withLabel: big_mem {
	      cpus = 8
	      memory = 48.GB
	      }

	   withLabel: large { 
	   cpus = 12
	   memory = 36.GB
	    } 

	   withLabel: medium { 
	      cpus = 8 
	      memory = 16.GB
	      time = '24:00:00'
	      } 

	   withLabel: small { 
	      cpus = 2
	      memory = 8.GB 
	      } 

	   withLabel: single {
	      cpus = 1
	      memory = 8.GB
	      }

	   withLabel: med_mem { 
	   cpus = 8
	   memory = 24.GB
	   } 

	   withLabel: long { 
	   time = '48:00:00' 
	   } 
}
