process.executor = 'slurm'
process.time = '8:00:00'
process.cpus = 4
process.memory = 8.GB
process.errorStrategy = 'retry'
process.maxRetries = 2
manifest.defaultBranch = 'main'

// Module parameter definitions

params {
		/***** STAR PARAMS *****/
		star_idx = '/proj/seq/data/STAR_genomes_v277/GRCh38_p13_GENCODE_primary'
		star_quantMode = ''
		skip_align = ''

		/***** SALMON PARAMS *****/
		salmon_idx = '/proj/seq/data/salmon_RNAseq_genomes/hg38_decoy/salmon_sa_index/default'
		salmon_opts = '--gcBias --seqBias --posBias'
		skip_quant = false

		/***** PICARD PARAMS *****/
		genome = '/proj/seq/data/STAR_genomes_v277/GRCh38_p13_GENCODE_primary/GRCh38.primary_assembly.genome.fa'
		ref_flat = '/proj/seq/data/hg38_UCSC/Annotation/Genes.gencode/refFlat.txt.gz'
		ribo_intervals = '/proj/jraablab/users/pkuhlers/seq_resources/GRCh38_rRNA.interval_list'
		skip_qc = false // Also applies to fastqc

		/***** COVERAGE PARAMS *****/
		skip_coverage = false
		downsample = false
		coverage_region = ''
		coverage_exclude = ''
		coverage_cores = 6

		/***** MULTIQC PARAMS *****/
		skip_multiqc = false

		/***** TRIM PARAMS *****/
		trim = false
		quality_trim = false
}

// Profiles

profiles {

	mm10 {
		params.star_idx = '/proj/seq/data/STAR_genomes_v277/GRCm38_p6_GENCODE_primary'
		params.salmon_idx = '/proj/seq/data/salmon_RNAseq_genomes/mm10_decoy/salmon_sa_index/default'
		params.genome = '/proj/seq/data/STAR_genomes_v277/GRCm38_p6_GENCODE_primary/GRCm38.primary_assembly.genome.fa'
		params.ref_flat = '/proj/seq/data/MM10_UCSC/Annotation/Genes/refFlat.txt.gz'
		params.ribo_intervals = '/proj/jraablab/users/pkuhlers/seq_resources/GRCm38_rRNA.interval_list'
	}

	hg38 {
		params.star_idx = '/proj/seq/data/STAR_genomes_v277/GRCh38_p13_GENCODE_primary'
		params.salmon_idx = '/proj/seq/data/salmon_RNAseq_genomes/hg38_decoy/salmon_sa_index/default'
		params.genome = '/proj/seq/data/STAR_genomes_v277/GRCh38_p13_GENCODE_primary/GRCh38.primary_assembly.genome.fa'
		params.ref_flat = '/proj/seq/data/hg38_UCSC/Annotation/Genes.gencode/refFlat.txt.gz'
		params.ribo_intervals = '/proj/jraablab/users/pkuhlers/seq_resources/GRCh38_rRNA.interval_list'
	}
}

// Process labels

process { 
	   withLabel: trim { 
	      cpus = 2
	      memory = 8.GB
	      time = '24:00:00'
	      } 

	   withLabel: big_mem {
	      cpus = 8
	      memory = 48.GB
	      }

	   withLabel: large { 
	   cpus = 12
	   memory = 36.GB
	    } 

	   withLabel: medium { 
	      cpus = 8 
	      memory = 16.GB
	      time = '24:00:00'
	      } 

	   withLabel: small { 
	      cpus = 2
	      memory = 8.GB 
	      } 

	   withLabel: single {
	      cpus = 1
	      memory = 8.GB
	      }

	   withLabel: med_mem { 
	   cpus = 8
	   memory = 24.GB
	   } 

	   withLabel: long { 
	   time = '48:00:00' 
	   } 
}
